




strong, b {
    font-family: ProximaNova-Bold,sans-serif;
    font-weight: normal;
}

.row {
    margin-bottom: 0;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb05 {
    margin-bottom: 5px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pt5 {
    padding-top: 5px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.container {
    width: auto;
    max-width: 1300px;
    padding-left: 30px;
    padding-right: 30px;
}

.or-line hr {
    border-color: #cecece;
    border-width: 1px;
    margin: 9px 0 0 0;
}

.or-line .and {
    position: absolute;
    float: left;
    font-family: ProximaNova-Bold;
    font-weight: normal;
    padding: 0 10px;
    background: #eee;
    color: #666;
    font-size: 14px;
    margin-left: 10px;
    line-height: 20px;
}

.show .btn {
    height: 40px;
    line-height: 40px;
    font-family: ProximaNova-Bold;
    font-weight: normal;
    font-size: 16px;
}


.form-group .form-control.input-style {
    height: 36px;
    font-size: 14px;
    /*border: 1px solid #ccc;*/
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset !important;*/
}

.form-group.new-style .form-control {
    height: 37px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset !important;
}




.btn.btn-grey {
    border-left: 1px solid #bbb;
    z-index: 2;
}

.btn:focus, .btn:active {
    outline: none;
    -moz-outline-style: none;
    outline-offset: 0;
}

.btn-big {
    height: 40px;
    padding: 0 30px;
    font-size: 18px;
}

.btn-return {
    height: 50px;
    line-height: 48px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: normal;
    font-family: ProximaNova-Bold;
}

.btn-settings {
    background-image: url("/assets/images/btn-settings.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 10px 0 35px;
}

    .btn-settings:hover {
        background-image: url("/assets/images/btn-settings.png");
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }

.btn-delete {
    background-image: url("/assets/images/btn-delete.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

    .btn-delete:hover {
        background-image: url("/assets/images/btn-delete.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
    }

.btn-remove {
    background-image: url("/assets/images/btn-remove.png");
    background-size: 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

    .btn-remove:hover {
        background-image: url("/assets/images/btn-remove.png");
        background-size: 10px 10px;
        background-position: center center;
        background-repeat: no-repeat;
    }

.btn-green {
    background: #00a154;
    color: #fff;
    border: none;
    border-bottom: 2px solid #01904c;
}

    .btn-green:hover, .btn-green:focus {
        background: #23c477;
        color: #fff;
    }

.btn-orange {
    background: #f0820b;
    color: #fff;
    border: none;
    border-bottom: 2px solid #cb6e09;
    outline: none;
    font-weight: normal;
    font-family: ProximaNova-Bold;
    border-radius: 6px;
}

    .btn-orange:hover {
        background: #f39c12;
        outline: none;
        -moz-outline-style: none;
        color: #fff;
    }

    .btn-orange:active, .btn-orange:focus {
        background: #cb6e09;
        border-bottom: 0;
        outline: none;
        -moz-outline-style: none;
        color: #fff;
    }

    .btn-orange.disabled {
        background: #ccc;
        color: #666;
        border-color: #bdc3c7;
    }

.btn-blue {
    background: #0079cc;
    color: #fff;
    border: none;
    border-bottom: 2px solid #014681;
    outline: none;
    font-weight: normal;
    font-family: ProximaNova-Bold;
    border-radius: 6px;
}

    .btn-blue:hover {
        background: #038eed;
        outline: none;
        -moz-outline-style: none;
        color: #fff;
    }

    .btn-blue:active, .btn-blue:focus {
        background: #0464b6;
        border-bottom: 0;
        outline: none;
        -moz-outline-style: none;
        color: #fff;
    }


.white-block {
    position: relative;
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding: 30px;
    border-radius: 6px;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 30px;
}


    .white-block.fixed-height-stats {
        height: 350px;
    }

        .white-block.fixed-height-stats .pie_chart {
            overflow-y: auto;
        }


    .white-block.tags {
        padding: 30px 30px 20px 30px;
    }


    .white-block h3 {
        font-family: ProximaNova-Bold,Arial;
        font-weight: normal;
        font-size: 20px;
        margin: 0 0 15px 0;
    }

        .white-block h3.versions {
            line-height: 30px;
        }

            .white-block h3.versions .badge {
                border-radius: 15px;
                float: left;
                font-size: 16px;
                height: 30px;
                line-height: 30px;
                margin: 0 15px 0 0;
                padding: 0;
                text-shadow: none;
                width: 30px;
            }

                .white-block h3.versions .badge.version-a {
                    background: #00a154;
                }

                .white-block h3.versions .badge.version-b {
                    background: #2980b9;
                }

                .white-block h3.versions .badge.followup {
                    background: #eee;
                    color: #333;
                    height: 24px;
                    line-height: 24px;
                    margin: 3px 15px 3px 0;
                    min-width: 114px;
                }

    .white-block h4 {
        font-size: 18px;
        margin: 0 0 15px 0;
        color: #666;
        font-family: ProximaNova-Bold,Arial;
        font-weight: normal;
    }

    .white-block h5 {
        font-size: 18px;
        margin: 0 0 10px 0;
        color: #000;
        font-family: ProximaNova-Bold,Arial;
        font-weight: normal;
    }

    .white-block .visual {
        margin-right: 30px;
    }

    .white-block .green {
        color: #0099e6;
    }

    .white-block .blue {
        color: #0099e6;
    }

    .white-block .grey {
        color: #0099e6;
    }

    .white-block .red {
        color: #e74c3c;
    }

    .white-block .number {
        font-family: ProximaNova-Bold;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
    }

        .white-block .number.smaller {
            font-size: 18px;
        }

    .white-block .number-small {
        font-size: 16px;
        line-height: 30px;
    }

    .white-block.small {
        padding: 20px 30px;
    }

        .white-block.small h4 {
            font-size: 16px;
        }

        .white-block.small .number {
            font-size: 20px;
            line-height: 24px;
        }

        .white-block.small .number-small {
            font-size: 16px;
            line-height: 24px;
        }

    .white-block .description {
        float: left;
        color: #666;
        width: 100%;
    }


    .white-block .plain-edit {
        font-size: 13px;
        color: #666;
    }

        .white-block .plain-edit a {
            color: #666;
            text-decoration: underline;
        }

            .white-block .plain-edit a:hover {
                text-decoration: none;
            }


    .white-block.integration-setup p:last-child {
        margin-bottom: 0;
    }

    .white-block.integration-setup ol li, .white-block.integration-setup ul li {
        margin-bottom: 10px;
    }

        .white-block.integration-setup ol li:last-child, .white-block.integration-setup ul li:last-child {
            margin-bottom: 0;
        }

    .white-block.integration-setup ol:last-child, .white-block.integration-setup ul:last-child {
        margin-bottom: 0;
    }


    .white-block .content-with-tabs h4 {
        color: #000;
        font-family: ProximaNova-Bold;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 15px 0;
    }

    .white-block .content-with-tabs .nav li {
        float: left;
        display: inline;
        margin-right: 20px;
    }

        .white-block .content-with-tabs .nav li:last-child {
            margin-right: 0;
        }

        .white-block .content-with-tabs .nav li a {
            float: left;
            color: #666;
            font-family: ProximaNova-Bold,Arial;
            font-weight: normal;
            font-size: 15px;
            padding: 0 10px 5px 10px;
            margin-bottom: -2px;
        }

            .white-block .content-with-tabs .nav li a:hover, .white-block .content-with-tabs .nav li a:focus {
                background: transparent;
                color: #00a154;
                text-decoration: none;
            }

            .white-block .content-with-tabs .nav li a .number {
                font-size: 14px;
                margin-left: 5px;
            }

        .white-block .content-with-tabs .nav li.active a {
            color: #00a154;
            border-bottom: 2px solid #00a154;
        }

    .white-block .content-with-tabs .tab-content .description p:last-child {
        margin-bottom: 0;
    }

    .white-block .content-with-tabs .tab-content textarea {
        background-color: #f5f5f5;
        border: 2px solid #ccc;
        border-radius: 4px;
        color: #333;
        display: block;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        font-size: 13px;
        line-height: 20px;
        margin: 0 0 10px;
        padding: 30px 30px 10px 30px;
        resize: none;
        outline: none;
        word-break: break-all;
        word-wrap: break-word;
        width: 100%;
    }

    .white-block pre {
        margin-bottom: 0;
        border: 2px solid #ccc;
        padding: 30px;
    }


.form-group {
    margin-bottom: 0;
}



    .form-group label {
        float: left;
        width: 100%;
        display: block;
        line-height: 100%;
        font-family: ProximaNova-Bold;
        font-weight: normal;
        font-size: 15px;
        margin: 0 0 10px 0;
    }

        .form-group label.big {
            font-size: 20px;
        }

        .form-group label.pull-left {
            width: auto;
        }

    .form-group .ask {
        margin-top: -1px;
        margin-left: 5px;
    }

    .form-group .description {
        float: left;
        width: 100%;
        display: block;
        color: #666;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .form-group .description-side {
        float: left;
        line-height: 40px;
        display: block;
        margin: 0 10px;
    }

    .form-group .form-control {
        border: 1px solid #ccc;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-appearance: none !important;
        padding: 0 10px;
        height: 35px;
        line-height: 36px;
        font-size: 16px;
        color: #000;
        border-radius: 6px;
    }

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-group .form-control.number {
    width: 50px;
}

    .form-group .form-control.number.pull-left {
        margin-right: 10px;
    }

    .form-group .form-control.number.center {
        text-align: center;
    }

.form-group .form-control.approval-info {
    height: 200px;
}

    .form-group .form-control.approval-info.small {
        height: 100px;
    }

.form-group .form-control.calendar {
    padding-left: 40px;
    background-size: 24px 24px;
    background-position: 8px 6px;
}



.form-group.behaviour .number {
    text-align: center;
}

.form-group.visibility textarea.form-control {
    min-height: 100px;
}

.form-control.error {
    border-color: #e74c3c;
}

.form-control[readonly] {
    background: #fff !important;
}

.approval-description {
    padding-top: 30px;
}

.terms {
    width: 100%;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    height: 200px;
    overflow-y: scroll;
    font-size: 14px;
    color: #333;
}

    .terms h4 {
        margin: 0 0 10px 0;
        font-size: 14px;
        font-family: ProximaNova-Bold;
        font-weight: normal;
        color: #333;
    }

    .terms p {
        margin-bottom: 10px;
    }

    .terms ul li {
        margin-bottom: 5px;
    }

        .terms ul li:last-child {
            margin-bottom: 0;
        }



.payment-description p:last-child {
    margin-bottom: 0;
}

.preview-block {
    float: left;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #ddd;
    border-radius: 6px;
    margin-bottom: 30px;
}

    .preview-block a > img {
        border-radius: 6px 6px 0 0;
    }

    .preview-block .control {
        padding: 15px 15px;
    }

        .preview-block .control h4 {
            font-family: ProximaNova-Bold;
            font-weight: normal;
            font-size: 18px;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 30px;
        }

            .preview-block .control h4 a {
                color: #000;
            }

                .preview-block .control h4 a:hover {
                    text-decoration: none;
                }

.alert {
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 0;
    font-size: 16px;
}

    .alert .close {
        background-image: url("/assets/images/alert-close.png");
        background-size: 60px 20px;
        background-repeat: no-repeat;
        float: left;
        height: 20px;
        margin-right: 15px;
        width: 20px;
        opacity: .8;
        right: 0;
        top: 0;
        text-indent: 10000em;
        overflow: hidden;
    }

        .alert .close:hover {
            opacity: 1;
        }

    .alert strong, .alert b {
        font-family: ProximaNova-Bold,Arial;
        font-weight: normal;
    }

    .alert.alert-info {
        background-color: #ffffcd;
        border-bottom: 2px solid #d6d6ae;
        color: #9a9060;
    }

        .alert.alert-info .close {
            background-position: 0 0;
        }

        .alert.alert-info a {
            color: #9a9060;
            text-decoration: underline;
            word-break: break-all;
            white-space: normal;
        }

            .alert.alert-info a:hover {
                text-decoration: none;
            }

        .alert.alert-info .filters-list-item b, .alert.alert-info .filters-list-item strong {
            text-transform: lowercase;
        }

    .alert.alert-danger {
        background-color: #f2dede;
        border-bottom: 2px solid #ebccd1;
        color: #a94442;
    }

        .alert.alert-danger a {
            color: #a94442;
            text-decoration: underline;
        }

            .alert.alert-danger a:hover {
                text-decoration: none;
            }

        .alert.alert-danger .close {
            background-position: -20px 0;
        }

    .alert.alert-warning {
        border-bottom: 2px solid #e7dead;
    }

        .alert.alert-warning a {
            color: #8a6d3b;
            text-decoration: underline;
        }

            .alert.alert-warning a:hover {
                text-decoration: none;
            }

    .alert.alert-success {
        background-color: #dff0d8;
        border-bottom: 2px solid #b3e59f;
        color: #00a154;
    }

        .alert.alert-success .close {
            background-position: -40px 0;
        }

    .alert.alert-update {
        float: left;
        width: 100%;
    }

        .alert.alert-update span {
            line-height: 36px;
        }

            .alert.alert-update span a {
                text-decoration: none;
                border-bottom: 1px dotted #00a154;
            }

                .alert.alert-update span a:hover {
                    color: #000;
                    border-color: #000;
                }

        .alert.alert-update .bell {
            margin-top: 8px;
            margin-right: 15px;
        }

        .alert.alert-update .btn {
            font-family: ProximaNova-Bold,Arial;
            font-weight: normal;
            line-height: 36px;
            height: 36px;
        }

.clicked-on a {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.alert-refer {
    padding: 30px 30px 20px 30px;
    border-radius: 6px;
    background-color: #ffffcd;
    border-bottom: 2px solid #d6d6ae;
    color: #a95f00;
    font-size: 18px;
}

    .alert-refer h3 {
        margin: 0 0 15px 0;
        font-family: ProximaNova-Bold,Arial;
        font-weight: normal;
        font-size: 26px;
    }

        .alert-refer h3 a {
            color: #a95f00;
        }

    .alert-refer p {
        margin-bottom: 10px;
    }

    .alert-refer .btn {
        font-size: 16px;
        height: 40px;
        padding: 0 50px;
    }






.rss-input .form-control.verified, .vat-code-input .form-control.verified {
    background: #fff url('/assets/images/vat-ok.png') right center no-repeat;
    background-size: 19px 13px;
}

.rss-input .form-control.notverified, .vat-code-input .form-control.notverified {
    background: #fff url('/assets/images/vat-not.png') right center no-repeat;
    background-size: 19px 13px;
}

.rss-input .btn, .vat-code-input .btn {
    border-color: #ccc;
    color: #666;
    font-family: ProximaNova-Bold,Arial;
    font-weight: normal;
}

.rss-input .btn {
    font-family: ProximaNova-Regular,Arial;
    font-weight: normal;
    min-width: 175px;
}

.pricing-link {
    font-size: 18px;
}

span.arrow {
    font-family: Arial;
}

.tooltip2:not(.tooltip-original) {
    opacity: 1 !important;
}

    .tooltip2:not(.tooltip-original) .tooltip-inner {
        background-color: #fff;
        border: 2px solid #ccc;
        color: #666;
        padding: 12px;
        font-size: 13px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }

    .tooltip2:not(.tooltip-original).top {
        margin-top: -10px;
    }

        .tooltip2:not(.tooltip-original).top .tooltip-arrow {
            border-top-color: #ccc !important;
            border-width: 10px 10px 0;
            bottom: -3px;
        }

            .tooltip2:not(.tooltip-original).top .tooltip-arrow:after {
                border-color: #fff transparent transparent;
                border-style: solid;
                border-width: 10px;
                content: " ";
                left: -10px;
                position: absolute;
                top: -12px;
                z-index: 0;
            }

    .tooltip2:not(.tooltip-original).bottom {
        margin-top: -10px;
    }

        .tooltip2:not(.tooltip-original).bottom .tooltip-arrow {
            border-bottom-color: #ccc !important;
            border-width: 0 10px 10px;
            bottom: -3px;
            top: -4px;
        }

            .tooltip2:not(.tooltip-original).bottom .tooltip-arrow:after {
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 10px;
                content: " ";
                left: -10px;
                position: absolute;
                top: -7px;
                z-index: 0;
            }

.emoji-container.active {
    border-color: #00a154;
}

.emoji-container.error {
    border: 2px solid #e74c3c;
}


.transparent {
    user-details opacity: .5;
}




.add-tag .form-control:focus, .add-tag .form-control:active {
    border-color: #ccc;
}

.refer {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    border-bottom: 2px solid #e3e3e3;
}

    .refer .refer-sidebar {
        background: repeating-linear-gradient(45deg, #0099e6, #0099e6 30px, #0088cc 30px, #0088cc 60px);
        color: #000;
        height: 100%;
        -moz-box-align: center;
        align-items: center;
        display: flex;
        text-align: center;
        padding: 30px;
        border-radius: 6px 0 0 6px;
    }

        .refer .refer-sidebar .slogan {
            width: 100%;
            display: block;
            text-align: center;
        }

        .refer .refer-sidebar .heart {
            background: url("/assets/images/gift-box.png") center center no-repeat;
            background-size: 84px 90px;
            height: 90px;
            width: 100%;
            display: block;
            margin: 0 0 20px 0;
        }

        .refer .refer-sidebar .give-get {
            display: block;
            font-weight: normal;
            font-size: 18px;
        }

    .refer .refer-form {
        padding: 30px 30px 30px 0;
    }

        .refer .refer-form .description strong {
            font-weight: normal;
            font-family: ProximaNova-Bold,Arial;
        }

        .refer .refer-form .refer-or {
            text-align: center;
        }

            .refer .refer-form .refer-or .or-word {
                text-align: center;
                background: #fff;
                padding: 10px;
                color: #999;
            }

            .refer .refer-form .refer-or hr {
                margin-top: -12px;
            }

         .refer-preview {
            display: block;
            line-height: 50px;
            color: #999;
            text-decoration: underline;
        }

            .refer-preview:hover {
                text-decoration: none;
            }

       .alert {
            padding: 30px;
        }

            .alert h3 {
                margin: 0 0 20px 0;
                font-weight: normal;
                font-family: ProximaNova-Bold,Arial;
                font-size: 26px;
            }

           .alert .btn {
                position: relative;
                height: 50px;
                font-size: 18px;
                padding: 0 30px;
                font-weight: normal;
                font-family: ProximaNova-Bold,Arial;
            }

        .btn-invite {
            position: relative;
            height: 40px;
            width: 100%;
            font-size: 16px;
        }

        .btn-invite-facebook {
            position: relative;
            width: 100%;
            background: #3b5998;
            background-size: 38px 38px;
            color: #fff;
            border: 0 0 2px 0;
            border-color: #264688;
            height: 40px;
            font-size: 16px;
            font-weight: normal;
            font-family: ProximaNova-Bold,Arial;
        }

             .btn-invite-facebook:hover {
                background: #4a67a6;
            }

           .btn-invite-facebook:active, .btn-invite-facebook:focus {
                background: #264688;
                border-bottom: 0;
            }

                .btn-invite-facebook:active img,  .btn-invite-facebook:focus img {
                    margin-top: 1px;
                }

            .btn-invite-facebook img {
                position: absolute;
                left: 0;
                height: 38px;
                width: 38px;
            }



        .btn-danger-g {
            position: relative;
            width: 100%;
            background: #d34836;
            background-size: 38px 38px;
            color: #fff;
            border: 0 0 2px 0;
            border-color: #d34836;
            height: 40px;
            font-size: 16px;
            font-weight: normal;
            font-family: ProximaNova-Bold,Arial;
        }

            .btn-danger-g:hover {
                background: #ce4735;
            }

             .btn-danger-g:active,  .btn-danger-g:focus {
                background: #ce4735;
                border-bottom: 0;
            }

               .btn-danger-g:active img, .btn-danger-g:focus img {
                    margin-top: 1px;
                }

           .btn-danger-g img {
                position: absolute;
                left: 0;
                height: 38px;
                width: 38px;
            }

       .btn-primary-scale-2 {
            position: relative;
            width: 100%;
            background: #0077B5;
            background-size: 38px 38px;
            color: #fff;
            border: 0 0 2px 0;
            border-color: #0876af;
            height: 40px;
            font-size: 16px;
            font-weight: normal;
            font-family: ProximaNova-Bold,Arial;
        }

            .btn-primary-scale-2:hover {
                background: #0876af;
            }

           .btn-primary-scale-2:active, .btn-primary-scale-2:focus {
                background: #0876af;
                border-bottom: 0;
            }

                .btn-primary-scale-2:active img, .btn-primary-scale-2:focus img {
                    margin-top: 1px;
                }

            .btn-primary-scale-2 img {
                position: absolute;
                left: 0;
                height: 38px;
                width: 38px;
            }

        .btn-invite-messenger {
            position: relative;
            width: 100%;
            background: #0084ff;
            color: #fff;
            border: 0 0 2px 0;
            border-color: #06f;
            height: 40px;
            font-size: 16px;
            font-weight: normal;
            font-family: ProximaNova-Bold,Arial;
        }

             .btn-invite-messenger:hover {
                background: #06f;
            }

            .btn-invite-messenger img {
                position: absolute;
                left: 0;
                height: 38px;
                width: 38px;
            }
