  .body-sign {
        display: table;
        height: 90vh;
        margin: 0 auto;
        max-width: 1150px;
        padding: 0 15px;
        width: 100%;
    }

    .panel-horizontal {
        display: table;
        width: 100%;
    }

    .panel {
        background: transparent none repeat scroll 0 0;
        border: medium none;
        box-shadow: none;
    }

    .panel-heading.bg-primary {
        background: #0088cc none repeat scroll 0 0;
    }

    .panel-horizontal .panel-heading {
        border-radius: 5px 0 0 5px;
    }

    .panel-horizontal .panel-heading, .panel-horizontal .panel-body, .panel-horizontal .panel-footer {
        display: table-cell;
        vertical-align: middle;
    }

    .panel-heading.bg-primary {
        border-bottom: 0 none;
        border-right: 0 none;
        color: #fff;
    }

    .panel-heading {
        padding: 18px;
        position: relative;
    }

    .panel-heading-icon {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 55px;
        color: #fff;
        font-size: 4.2rem;
        height: 90px;
        line-height: 90px;
        margin: 0 auto;
        text-align: center;
        width: 90px;
    }

    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-feature-settings: normal;
        font-kerning: auto;
        font-language-override: normal;
        font-size: inherit;
        font-size-adjust: none;
        font-stretch: normal;
        font-style: normal;
        font-synthesis: weight style;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-rendering: auto;
    }