.toast-container{width:280px;z-index:5000000;}
* html .toast-container{position:absolute;}
.toast-item
{
    padding: 15px;
    background-color: #45ABCD ;
    border-left: 33px solid #7f7f84;
    margin-bottom: 10px;
    margin-top: 40px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.4);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.4);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.4);
}
.toast-item p{text-align:left;color:#fff;font-weight:bold;display:inline}
.toast-item-close{background:url(../ImagesStyle/close.gif);width:22px;height:22px;position:absolute;top:7px;right:7px;}
.toast-item-image{position:absolute;left:10px;}
.toast-item-image-notice{background:url(../ImagesStyle/notice.png);}
.toast-item-image-success:before{content: "\f118";font-family: FontAwesome;font-size:25px;margin-left:-4px;margin-bottom:-5px;}
.toast-item-image-warning:before{content: "\f071";font-family: FontAwesome;font-size:25px;margin-left:-4px;margin-bottom:-5px;}
.toast-item-image-error:before{content: "\f119";font-family: FontAwesome;font-size:25px;margin-left:-4px;margin-bottom:-5px;}
.toast-type-notice{border-color: #45ABCD;}
.toast-type-success{color: #fff;border-color: rgba(255, 255, 255, 0.3);}
.toast-type-warning{color: #ffd800;border-color: rgba(255, 255, 255, 0.3);}
.toast-type-error{color: #ff0000;border-color: rgba(255, 255, 255, 0.3);}
.toast-position-top-left{position:fixed;left:20px;top:20px;}
.toast-position-top-center{position:fixed;top:20px;left:50%;margin-left:-140px;}
.toast-position-top-right{position:fixed;top:20px;right:20px;}
.toast-position-middle-left{position:fixed;left:20px;top:50%;margin-top:-40px;}
.toast-position-middle-center{position:fixed;left:50%;margin-left:-140px;margin-top:-40px;top:50%;}
.toast-position-middle-right{position:fixed;right:20px;margin-left:-140px;margin-top:-40px;top:50%;}