html, body, .player-page {
    height: 100%;
    background: rgb(52, 73, 94);
}

    .player-page .player-menu-title {
        padding: 11px 11px 11px 15px;
        font-weight: bold;
        color: rgb(214, 214, 214);
        font-size: 15px;
        background: rgba(255, 255, 255, 0.04);
    }

.playerFormation {
    background: #000;
    color: white;
    vertical-align: top;
    position: relative;
    min-height: 250px;
}

.planFormation {
    background: rgb(52, 73, 94);
    overflow: hidden;
}

    .planFormation .plan-top-block {
        background: #2d3945;
        padding: 10px;
    }

.playerFormation .jw-title {
    top: 50px;
}

.playerFormation .titreFormation {
    background: #000;
    font-weight: bold;
    height: 50px;
    /*padding: 20px;*/
    width: 100%;
    display: none;
    z-index: 9999;
}

    .playerFormation .titreFormation .pull-left {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        width: calc(100% - 150px);
        height: 25px;
    }

#playerVideo .jw-toggle, #playerVideo .jw-button-color:hover {
    color: #0088cc !important;
}

.progress-training {
    width: 100%;
    background: rgba(255, 255, 255, 0.06);
    height: 4px;
    position: relative;
}

    .progress-training .progress-percent {
        position: absolute;
        top: -19px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 12px;
        left: 15px;
    }

    .progress-training .progress-fill {
        background: rgb(237, 156, 40);
        height: 100%;
    }

@media(min-width: 992px) {
    .playerFormation {
        width: calc(100% - 404px);
        display: table-cell;
    }

    .planFormation {
        width: 400px;
        display: table-cell;
    }

    .player-page {
     
        display: table;
        width: 100%;
        height: 100%;
    }

        .player-page .row {
            height: 100%;
            display: table-row;
            width: 100%;
        }

        .player-page div[class^=col-] {
            /*display: table-cell;
        float: none;*/
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

    .playerFormation .titreFormation {
        position: absolute;
    }

    .player-page .jwplayer {
        position: initial;
    }
}

@media(max-width: 992px) {
    .playerFormation {
        width: 100%;
    }

    .planFormation {
        width: 100%;
    }

    .player-menu {
        overflow-y: hidden !important;
    }

    .playerFormation .titreFormation {
        display: block;
    }

    .player-page .jwplayer {
        position: relative !important;
    }
}


.player-page > .row > div[class^=col-]:first-child > div:nth-child(1) {
    position: absolute;
    /*top: 26px;*/
    left: 35px;
    font-size: 20px;
    z-index: 9999;
    color: #ccc;
}

.player-page > .row > div[class^=col-]:first-child {
    vertical-align: bottom;
    background: #000;
    position: relative;
}

.player-page > .row > div[class^=col-]:last-child {
    vertical-align: top;
}

.player-menu {
    margin: 0;
    padding: 0;
    background-color: #33414e;
    height: 100%;
    overflow-y: auto;
}

    .player-menu > li {
        list-style: none;
        font-size: 13px;
    }

        .player-menu > li > a {
            font-size: 13px;
            position: relative;
            color: rgb(214, 214, 214);
            display: block;
            padding: 15px;
            border-bottom: 1px solid #2f3c48;
            z-index: 2;
        }

        .player-menu > li.open > a, .player-menu > li.open > a:hover {
            background-color: rgba(255,255,255,0.04);
            color: rgb(214, 214, 214);
            border-left: 0;
            padding: 15px;
        }

        .player-menu > li > a:hover {
            background-color: rgba(255,255,255,0.04);
            color: rgb(214, 214, 214);
            border-left: 3px solid #2b7dbc;
            cursor: pointer;
            text-decoration: none;
            padding-left: 7px;
        }

        .player-menu > li > a > i {
            width: 20px;
        }

        .player-menu > li > a > span {
            font-size: 14px;
        }

        .player-menu > li > a > div {
            position: absolute;
            right: 10px;
            font-size: 15px;
            top: 10px;
        }

            .player-menu > li > a > div span {
                font-size: 13px;
                margin-right: 20px;
            }

            .player-menu > li > a > div i {
                font-size: 17px;
            }

        .player-menu > li ul {
            display: none;
        }

        .player-menu > li.open ul {
            margin: 0;
            padding: 0;
            display: block;
        }

            .player-menu > li.open ul li:first-child {
                border-bottom: 0;
            }

        .player-menu > li.open {
            position: relative;
        }

            .player-menu > li.open ul::before {
                content: "";
                border-left: 1px dotted rgba(255, 255, 255, 0.04);
                position: absolute;
                display: block;
                left: 40px;
                top: 0;
                bottom: 0;
                z-index: 1;
            }

    .player-menu ul::before, .player-menu li {
        content: "";
    }

    .player-menu > li.open ul > li {
        list-style: none;
    }

        .player-menu > li.open ul > li > a {
            background: #273541;
            border-top: 1px dotted rgba(255, 255, 255, 0.05);
            color: #ccc;
            display: block;
            padding: 13px 55px;
            position: relative;
        }

    .player-menu > li.active {
        border-right: 4px solid #2b7dbc;
    }

    .player-menu > li.open ul > li > a.active:before {
        color: transparent;
        content: "";
        right: 0;
        position: absolute;
        top: 2px;
    }

    .player-menu > li.open ul > li > a.active:hover, .player-menu > li.open ul > li > a.active {
        text-decoration: none;
        border-left: 5px solid #f96816;
        color: #f96816;
        cursor: pointer;
        font-size: 14px;
    }

        .player-menu > li.open ul > li > a.active > i.fa-check {
            left: 9px;
        }

        .player-menu > li.open ul > li > a.active:hover .fa-caret-right, .player-menu > li.open ul > li > a.active .fa-caret-right {
            color: #2b7dbc;
            display: block;
        }

    .player-menu > li.open ul > li > a:hover {
        text-decoration: none;
        background-color: rgba(52, 73, 94, 0.83);
        color: #fff;
        cursor: pointer;
    }

    .player-menu > li.open ul > li > a > i, .player-menu > li.open ul > li > a > span:last-child {
        position: absolute;
        top: 14px;
        z-index: 2;
    }

        .player-menu > li.open ul > li > a > i.fa-caret-right {
            color: #1963aa;
            left: 36px;
            display: none;
            padding: 1px 0;
        }

    .player-menu > li.open ul > li > a:hover > i.fa-caret-right {
        color: #fff;
        display: block;
    }

    .player-menu > li.open ul > li > a > i.fa-play-circle {
        color: #f1f5f9;
        left: 15px;
    }

    .player-menu > li.open ul > li > a > i.fa-check {
        color: #33cc33;
        left: 15px;
    }

    .player-menu > li.open ul > li > a > i.fa-lock {
        color: #999;
        left: 15px;
    }

    .player-menu > li.open ul > li > a > span:last-child {
        right: 40px;
        font-size: 11px;
    }



.jw-dock-button {
    display: block;
}

.buttonHide {
    display: inline-block;
}


@media (max-width: 950px) {
    .jw-dock-button {
        display: none;
    }

    .buttonHide {
        display: none;
    }

    .titreFormation {
        display: none;
    }

    .planFormation {
        display: block !important;
    }

    .logo-player img {
        height: 35px;
        object-fit: cover;
        object-position: 0 center;
        vertical-align: middle;
        width: 37px;
    }
}

.logo-player img {
    opacity: 0.8;
}

.fa-user:before {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 24px;
    padding: 6px 0 7px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    width: 40px;
    cursor: pointer;
}

.fa-user ~ span {
    color: rgb(52, 73, 94);
    margin-left: 5px;
}

.fa-user ~ .dropdown-menu, .dropdown-user-menu {
    background-color: rgba(52, 73, 94, 0.95);
}

    .fa-user ~ .dropdown-menu > li > a, .dropdown-user-menu > li > a {
        color: #fff;
    }

        .fa-user ~ .dropdown-menu > li > a:hover, .dropdown-user-menu > li > a:hover {
            background-color: rgba(52, 73, 94, 0.5);
            text-decoration: none !important;
            color: #fff;
        }

.dropdown-user > a {
    text-decoration: none !important;
}

.menu-palyer {
    color: #fff !important;
    font-size: 12px !important;
    font-weight: normal;
}

.dropdown-menu > li > a {
    display: block !important;
    padding: 7px 20px !important;
}

.icon-player {
    width: 23px;
}

.path-favoris-trg.active, path-favoris-trg.active:focus, .path-favoris-trg:hover{
    color:red!important;
    text-decoration:none!important;
}

.path-favoris-trg, path-favoris-trg:focus{
    color:rgba(255,255,255,0.5)!important;
    text-decoration:none!important;
}