   .modal-block {
        background: transparent none repeat scroll 0 0;
        margin: 40px auto;
        max-width: 600px;
        padding: 0;
        text-align: left;
    }

        .modal-block .modal-body {
            height: 150px;
        }

    .modal-block-add .modal-body {
        height: 220px;
    }

    .nav > li > a {
        padding: 5px 10px;
    }

    html body .tabs-warning .nav-tabs li.active a, html body .tabs-warning .nav-tabs li.active a:hover, html body .tabs-warning .nav-tabs li.active a:focus, html body .tabs-warning .nav-tabs.nav-justified li.active a, html body .tabs-warning .nav-tabs.nav-justified li.active a:hover, html body .tabs-warning .nav-tabs.nav-justified li.active a:focus, html.dark body .tabs-warning .nav-tabs li.active a, html.dark body .tabs-warning .nav-tabs li.active a:hover, html.dark body .tabs-warning .nav-tabs li.active a:focus, html.dark body .tabs-warning .nav-tabs.nav-justified li.active a, html.dark body .tabs-warning .nav-tabs.nav-justified li.active a:hover, html.dark body .tabs-warning .nav-tabs.nav-justified li.active a:focus {
        border-top-color: #ed9c28;
        color: #ed9c28;
    }

    .tab-content {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #fff;
        padding: 15px;
        border-width: 0;
        box-shadow: 0;
    }

    .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
        border-top: 3px solid #ed9c28;
    }

    #modalUpload input[type="file"]{
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        filter: alpha(opacity=0);
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        opacity:0;
        background-color:transparent;
        color:transparent;
    }