html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

    body > .body {
        min-height: 100%;
        position: relative;
    }

footer#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product-details-box .product-actions .actions-right .addtowishlist, .product-details-box .product-actions .actions-right .comparelink {
    font-size: 17px;
    height: 38px;
    left: auto;
    line-height: 38px;
    opacity: 1;
    right: auto;
    visibility: visible;
    width: 38px;
}

.product-details-box .product-actions .actions-right {
    float: right;
}

.product-details-box .product-actions .addtocart:hover, .product-details-box .product-actions .addtocart:focus {
    background-color: #009ceb;
    border-color: #009ceb;
    color: #fff;
}

.product-details-box .product-actions .addtocart {
    background-color: #0088cc;
    border-color: #0088cc;
    color: #fff;
    height: 38px;
    line-height: 36px;
    min-width: 160px;
    text-align: center;
    font-size: 14px;
    padding: 0 10px 0 8px;
}

.product-details-box .product-detail-info .product-price-box .product-price {
    color: #0088cc;
    font-size: 33px;
    line-height: 1;
}

.product-price-box .old-price + .product-price {
    margin-left: 6px;
}

.product-price-box .old-price {
    color: #999;
    font-size: 14px;
    text-decoration: line-through;
}

.product-details-box .product-short-desc {
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 10px;
}

.product-details-box .product-detail-info {
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
    padding-bottom: 20px;
}

.product-details-box .product-actions {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.product-actions a {
    border-radius: 5px;
    display: inline-block;
    margin: 10px 1px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

    .product-actions a.addtowishlist {
        border: 1px solid #ed4949;
        color: #ed4949;
        right: -37px;
    }

        .product-actions a.addtowishlist:hover {
            background-color: #ed4949;
            color: #fff;
        }

.tabs.product-tabs {
    margin-bottom: 50px;
}

/*Tarifs*/
.boutonTarif {
    background-color: #0088cc;
    border-color: #0088cc;
    color: #fff;
    font-size: 14px;
    height: 38px;
    line-height: 36px;
    min-width: 160px;
    padding: 0 10px 0 8px;
    text-align: center;
}

.btn.boutonTarif:hover, .btn.boutonTarif:focus, .btn.boutonTarif.focus {
    color: #fff;
    text-decoration: none;
}

.prixPromoTarif {
    text-decoration: line-through;
    font-size: 12px;
    display: inline-block;
}

.prixTarif {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}

.ApresPrixTarif {
    font-size: 14px;
    display: inline-block;
    font-weight: normal;
}

.h3Tarif {
    line-height: 9px;
}

.page-header {
    border: medium none;
    margin-bottom: 30px;
    min-height: 0;
    padding: 6.5px 0;
}

.homepage-bar {
    background-color: #fbfbfb;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.banners-wrapper {
    background-color: #f0f0ed;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.banners-wrapper {
    padding-bottom: 2px;
}

.homepage-bar .col-md-4 {
    padding-bottom: 21px;
    padding-top: 20px;
    text-align: center;
}

    .homepage-bar .col-md-4:first-child {
        border-left: medium none;
    }

.homepage-bar h3 {
    color: #313131;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}

.homepage-bar p {
    font-size: 12px;
    line-height: 1;
    margin: 0;
}

.homepage-bar .bar-icon {
    color: #0088cc;
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
}

.homepage-bar .bar-textarea {
    display: inline-block;
    margin-left: 7px;
    text-align: left;
    vertical-align: middle;
}



/*Header*/
#header .cart-dropdown {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    vertical-align: middle;
}

    #header .cart-dropdown .cart-dropdown-icon {
        color: #000;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0;
        position: relative;
        text-align: center;
        text-decoration: none !important;
        top: -1px;
    }

.minicart-icon::before {
    font-family: "minicart-font" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none !important;
}

#header .cart-dropdown .cart-dropdown-icon .cart-info {
    display: block;
    left: 0;
    line-height: 1;
    margin-top: -4px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#header .cart-dropdown .cart-dropdown-icon i {
    color: #0088cc;
    font-size: 35px;
}

#header .cart-dropdown .cart-dropdown-icon .cart-info .cart-qty {
    font-size: 14px;
    font-weight: 600;
}

#header .cart-dropdown .cart-dropdown-icon .cart-info .cart-text {
    display: none;
    font-size: 12px;
    font-weight: 400;
}

#header .compare-dropdownmenu.right, #header .compare-dropdownmenu.pull-right, #header .cart-dropdownmenu.right, #header .cart-dropdownmenu.pull-right {
    float: none !important;
    left: auto;
    right: 0;
}

#header .compare-dropdownmenu, #header .cart-dropdownmenu {
    color: #777;
    display: none;
    left: 0;
    padding-top: 10px;
    position: absolute;
    top: 100%;
    width: 300px;
    z-index: 100;
}

#header .cart-dropdown {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    vertical-align: middle;
}

    #header .cart-dropdown:hover .cart-dropdownmenu, #header .cart-dropdown:focus .cart-dropdownmenu {
        display: block;
    }

    #header .cart-dropdown .cart-dropdownmenu .product.product-sm {
        border-bottom: 1px solid #eee;
        padding: 20px 0;
        position: relative;
    }

.product.product-sm {
    max-width: 300px;
    padding: 6px 0 8px;
}

#header .compare-dropdownmenu .dropdownmenu-wrapper::before, #header .cart-dropdownmenu .dropdownmenu-wrapper::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    top: -10px;
}

#header .compare-dropdownmenu .dropdownmenu-wrapper, #header .cart-dropdownmenu .dropdownmenu-wrapper {
    background-color: #fff;
    border-radius: 7.98px 7.98px 5px 5px;
    border-top: 6px solid #0088cc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#header .cart-dropdown .cart-dropdownmenu .cart-products {
    padding: 0 20px;
}

#header .cart-dropdown .cart-dropdownmenu .cart-totals {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
}

    #header .cart-dropdown .cart-dropdownmenu .cart-totals span {
        color: #0088cc;
    }

#header .cart-dropdown .cart-dropdownmenu .cart-actions {
    border-radius: 0 0 5px 5px;
    font-size: 0;
    padding: 0 20px 15px;
}

    #header .cart-dropdown .cart-dropdownmenu .cart-actions .btn {
        border: medium none;
        padding-bottom: 6px;
        padding-top: 6px;
        text-align: center;
        width: 128px;
    }

        #header .cart-dropdown .cart-dropdownmenu .cart-actions .btn + .btn {
            margin-left: 4px;
        }

#header .cart-dropdown .cart-dropdownmenu .product.product-sm .btn-remove {
    top: 28px;
}

#header .compare-dropdownmenu .btn-remove, #header .cart-dropdownmenu .btn-remove {
    color: #777;
    display: block;
    font-size: 13px;
    height: 23px;
    line-height: 1;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 23px;
}

#header .cart-dropdown .cart-dropdownmenu .product.product-sm .cart-qty-price {
    color: #0088cc;
}




#header .header-search .header-search-wrapper::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #ccc;
    border-image: none;
    border-style: none !important;
    border-width: 10px;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: 45px;
    top: -25px;
    width: 20px;
}

.searchArea {
    padding-top: 30px;
    float: left;
    margin-left: 70px;
}

.PannierResponsive {
    display: none !important;
    top: calc(100% - 9rem) !important; /*-50px;*/
    left: 20px;
    margin-bottom: 0px;
    /*width: 30px !important;*/
}

.PannierNonResponsive {
    display: block;
}

.cartResponsive {
    width: 50px;
}

.header-body {
    height: 60px;
}

.header-container {
    margin-top: -27px !important;
}

.imageLogo {
    margin-top: 25px !important;
}

.img {
    text-align: right;
    width: 200px;
    height: 100px;
}

@media(max-width:750px) {
    .Topimag{
        margin-top: -26px !important;
    }
    /*.searchArea {
        display: none;
    }*/
    #header .header-nav-main {
        background: #fff none repeat scroll 0 0;
        clear: both;
        float: none;
    }

    #header .cart-dropdown:hover .cart-dropdownmenu, #header .cart-dropdown:focus .cart-dropdownmenu {
        display: none !important;
    }

    .searchAreaResponsive {
        display: block;
        top: -50px;
        left: 66px;
        margin-bottom: 0px;
    }

    #header .header-search .header-search-wrapper.open {
        top: 57px !important;
        left: 10px !important;
        border-width: 1px !important;
    }

    #header .header-search .header-search-wrapper {
        width: 20px !important;
    }

    .PannierResponsive {
        display: block !important;
    }

    .PannierNonResponsive {
        display: none !important;
    }

    .header-body {
        height: 95px;
    }

    .header-container {
        margin-top: -15px !important;
    }
    /*Pour le filtre de la page catalogue*/
    .divFiltreTri {
        float: none !important;
        margin-left: 15px !important;
    }

    .imageLogo {
        margin-top: 10px !important;
    }

    .searchArea {
        display: none;
    }

    .SearchResponsive {
        display: block;
    }
}

@media(min-width:750px) {

    .searchArea {
        display: block;
    }

    .SearchResponsive {
        display: none;
    }
    /*#header .header-nav.header-nav-stripe nav > ul > li:hover > a {
    background-color: #0088cc;
    height: 73px !important;
}*/
    .imageLogo {
        margin-top: 25px !important;
    }

    .header-body {
        height: 60px;
    }

    .header-container {
        margin-top: -27px !important;
    }

    #header .cart-dropdown:hover .cart-dropdownmenu, #header .cart-dropdown:focus .cart-dropdownmenu {
        display: block !important;
    }

    .searchAreaResponsive {
        display: none;
    }
}

#header.header-narrow .header-nav.header-nav-stripe nav > ul > li > a.dropdown-toggle::after, #header.header-narrow .header-nav.header-nav-stripe nav > ul > li:hover > a.dropdown-toggle::after, #header.header-narrow .header-nav.header-nav-dark-dropdown nav > ul > li > a.dropdown-toggle::after, #header.header-narrow .header-nav.header-nav-dark-dropdown nav > ul > li:hover > a.dropdown-toggle::after {
    display: none !important;
    top: 35px;
}
/*Fin Header*/
.sidebar.shop-sidebar .panel.panel-default .panel-heading a {
    position: relative;
    border-radius: 6.99px 6.99px 0 0;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-right: 45px;
    color: #777;
    border: 1px solid #ddd;
}

    .sidebar.shop-sidebar .panel.panel-default .panel-heading a:hover::before {
        background-color: #0088CC;
        border-color: #0088CC;
        color: #fff;
    }

    .sidebar.shop-sidebar .panel.panel-default .panel-heading a.collapsed::before {
        content: "\f0d7";
    }

    .sidebar.shop-sidebar .panel.panel-default .panel-heading a:before {
        font-family: 'FontAwesome';
        content: "\f0d8";
        width: 26px;
        height: 26px;
        display: block;
        border: 1px solid #ddd;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -13px;
        border-radius: 3px;
        color: #ccc;
        text-align: center;
        line-height: 24px;
        background-color: #fff;
        font-size: 10px;
    }

.sidebar.shop-sidebar .panel.panel-default .panel-body {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 6.99px 6.99px;
    background-color: #fbfbfb;
}

.cart .sidebar.shop-sidebar .panel.panel-default .panel-body {
    padding: 15px;
}

label .required {
    color: #eb340a;
}

.sidebar.shop-sidebar .panel.panel-default .panel-heading a {
    position: relative;
    border-radius: 6.99px 6.99px 0 0;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-right: 45px;
    color: #777;
    border: 1px solid #ddd;
    line-height: 14px;
}

.totals-table {
    width: 100%;
    margin-bottom: 5px;
}

.sidebar.shop-sidebar .panel.panel-default .panel-heading .panel-title {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #777;
}

.totals-table tbody tr td {
    padding: 10px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 300;
    text-align: left !important;
}

.sidebar.shop-sidebar .panel.panel-default {
    border-radius: 6.99px;
    border: none;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.totals-table tbody tr td:last-child {
    color: #000;
    text-align: right !important;
    font-weight: 600;
}

.totals-table tbody tr {
    border-bottom: 1px solid #dcdcdc;
}

.devices-image img {
    width: 100%;
}

.section-header {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 34px;
    text-transform: none;
}

.container.text-center {
    text-align: left;
}

.section-with-space {
    padding-top: 60px;
    padding-bottom: 60px;
}

.qty-holder {
    display: inline-block;
    width: 125px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0;
}

.qty-dec-btn,
.qty-inc-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    color: #777;
    line-height: 30px;
    border-radius: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.qty-input {
    display: inline-block;
    vertical-align: middle;
    width: 35px !important;
    font-size: 14px;
    text-align: center;
    color: #777;
    height: 30px;
    border-radius: 0;
    border: 1px solid #ccc;
    margin: 0 -1px;
    outline: none;
}



/*ZOne Tarifs*/
.tablePrice th {
    text-align: center;
    width: 85px;
}

.tablePrice td {
    text-align: center;
}

.titreBleuGras {
    color: #0088cc;
    font-weight: bold;
}

.thWidth {
    width: 85px;
}

@media (min-width: 800px) {
    .bgResponsiveLarge {
        display: inline-block !important;
    }

    .bgresponsive {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .bgresponsive {
        display: inline-block !important;
    }

    .bgResponsiveLarge {
        display: none !important;
    }
}

@media (max-width: 500px) {

    .fixeTd {
        /*position:fixed;*/
        background-color: white;
        position: absolute;
        height: 50px !important;
        width: 100px !important;
    }

    .fixedTd2 {
        padding-left: 100px !important;
    }

    .fixeTypeTd {
        display: none;
    }
}
/*Fin zone tarifs*/
/*.panel-body {
    border-top: 1px solid #0088cc;
    margin-top: -29px;
}*/

.panel-heading h2 {
    margin: 0;
}

.cursor {
    cursor: pointer;
}

.floatLeft {
    float: left;
}

.panier-block-point {
    border: 1px solid rgb(230, 230, 230);
    max-width: 430px;
    padding: 10px;
}

    .panier-block-point img {
        display: inline-block;
        vertical-align: top;
    }

    .panier-block-point .panier-block-point-desc {
        font-size: 13px;
        margin-left: 11px;
        display: inline-block;
        width: calc(100% - 79px);
        text-align: center;
    }

    .panier-block-point .panier-block-point-act {
        background: #f9f9f9;
        padding: 10px;
        margin-top: 10px;
    }

.navbar .navbar-nav > li > a {
    color: #d9d9d9;
    font-weight: normal;
    font-size: 14px;
}

    .navbar .navbar-nav > li > a:hover {
        color: #208ac8;
    }

    .navbar .navbar-nav > li > a i {
        color: #208ac8;
        font-weight: normal;
        font-size: 14px;
    }


.navbar .form-control, .navbar .input-group button {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar .input-group button {
    padding-top: 3px;
}

.navbar .navbar-form {
    margin-top: 11px;
}

.navbar .divider-menu {
    padding: 13px 0;
}

    .navbar .divider-menu a {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding: 12px 0;
    }

.navbar {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #208ac8;
}

.cbp-af-header-shrink {
    padding: 0;
    opacity: 0.95;
}



.menu-panier li:last-child:hover, .menu-panier li:last-child a:hover {
    background: transparent;
}

.dropdown.header-panier:hover .menu-panier {
    display: block;
    padding-bottom: 0;
}


.navbar .dropdown-menu a {
    color: #969696;
}

.navbar .dropdown-menu .divider {
    background-color: #ccc;
    background-image: none;
}



.menu-panier li {
    position: relative;
}

.menu-panier .icon-delete {
    position: absolute;
    right: 4px;
    top: -2px;
}

.menu-panier .divider {
    margin: 0;
}

.menu-panier img {
    display: inline-block;
    vertical-align: top;
}

header .navbar {
    background: #fff; /* Old browsers */
    /*background: -moz-linear-gradient(top, #fff 0%, #fff 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #fff 0%,#fff 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, #fff 0%,#fff 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );*/ /* IE6-9 */
    z-index: 99999;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

    header .navbar .navbar-nav > li > a {
        color: #208ac8;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        vertical-align: middle;
        font-weight: initial;
    }

        header .navbar .navbar-nav > li > a i.icon-panier {
            font-size: 24px;
            position: relative;
            color: #208ac8;
        }

    header .navbar .icon-panier span {
        position: absolute;
        right: -8px;
        color: #fff;
        border-radius: 100%;
        text-align: center;
        top: -6px;
        background: #f59b21;
        font-size: 13px;
        padding: 2px 6px;
        font-family: 'Open sans';
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
    }

.page-header {
    background-color: #fff !important;
}

@media (max-width: 992px) {
    #footer .footer-ribbon span {
        color: #fff;
        font-family: "Shadows Into Light",cursive;
        font-size: 13px;
    }

    header .navbar-header {
        float: none;
    }

    header .navbar-left, header .navbar-right {
        float: none !important;
    }

    header .navbar-toggle {
        display: block;
    }

    header .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    header .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    header .navbar-collapse.collapse {
        display: none !important;
    }

    header .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        header .navbar-nav > li {
            float: none;
        }

            header .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    header .collapse.in {
        display: block !important;
    }
}

@media (max-width: 320px) {
    .pading {
        padding-left: 2px !important;
    }
}

.noteRating {
    font-size: 80pt;
    color: #0088cc;
}

.fa-star, .comment-list .fa-star {
    color: #ffc207;
}

.ratings-and-reviews__rate-gauge--fill {
    background-color: #17aa1c;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    height: 100%;
}

.progress-notes-bar {
    background-color: #0088cc;
    box-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.15) inset;
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

.progress-notes-widhes {
    width: 70%;
    margin-top: 10px;
}

.progress-notes {
    background-color: hsl(0, 0%, 96%);
    border-radius: 4px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height: 20px;
    overflow: hidden;
}

.displayInlineBlock {
    display: inline-block;
}

@media (min-width: 768px) {
   
    .products-grid li {
        float: left;
    }

    .product:hover .product-image-area .layer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.75;
    }

    .product .product-image-area .product-quickstart {
        color: #fff;
        display: none;
        font-weight: bold;
        position: absolute;
        text-align: center;
        top: 37px;
        vertical-align: middle;
        width: 100%;
    }

    .product:hover .product-image-area .product-quickstart {
        display: block;
    }

    .product .product-image-area .product-quickstart:hover {
        text-decoration: none;
    }

    .product .product-details-area {
        padding: 10px;
    }

        .product .product-details-area h2 {
            height: 34px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: normal;
        }

    .product-price-box {
        font-size: 0;
        margin: 5px 0 3px;
    }

        .product-price-box .product-price {
            font-size: 17px;
        }

    .product .product-details-area .nbrVues {
        top: 0;
    }
}

.GaugeMeter {
    position: Relative;
    text-align: Center;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
}

    .GaugeMeter SPAN, .GaugeMeter B {
        width: 54%;
        position: Absolute;
        text-align: Center;
        display: Inline-Block;
        color: RGBa(0,0,0,.8);
        font-weight: 100;
        font-family: "Open Sans", Arial;
        overflow: Hidden;
        white-space: NoWrap;
        text-overflow: Ellipsis;
        margin: 0 23%;
    }

    .GaugeMeter[data-style="Semi"] B {
        width: 80%;
        margin: 0 10%;
    }

    .GaugeMeter S, .GaugeMeter U {
        text-decoration: None;
        font-size: .60em;
        font-weight: 200;
        opacity: .6;
    }

    .GaugeMeter B {
        color: #000;
        font-weight: 200;
        opacity: .8;
    }

.block-header-dashbord {
    height: 300px;
    position: relative;
    border-radius: 4px;
    color: #fff;
    background: rgba(46, 152, 197, 0.96);
}

.block-header-dashbord-trg {
    background: rgba(237, 156, 40, 0.9);
}

.block-header-dashbord-pf {
    background: rgba(237, 156, 40, 0.9);
}

.block-header-dashbord .dashbord-img {
    padding: 20px;
    width: 155px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
}

.block-header-dashbord .dashbord-img {
    padding: 20px;
    width: 155px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
}

    .block-header-dashbord .dashbord-img img {
        height: 90px;
        z-index: 100;
        display: inline-block;
        border: 5px solid rgba(0, 0, 0, 0.17);
    }

    .block-header-dashbord .dashbord-img a {
        position: relative;
        display: block;
    }

        .block-header-dashbord .dashbord-img a .layer {
            position: absolute;
            display: none;
            height: 100%;
            width: 100%;
        }

        .block-header-dashbord .dashbord-img a:hover .layer {
            display: block;
            background: rgba(0, 0, 0, 0.3);
        }

        .block-header-dashbord .dashbord-img a .img, .block-header-dashbord .dashbord-img a i {
            position: absolute;
        }

        .block-header-dashbord .dashbord-img a i {
            left: 45%;
            top: 40%;
            color: #fff;
            font-size: 20px;
        }

.block-header-dashbord .dashbord-title {
    display: inline-block;
    padding: 20px 10px 0 0;
    width: calc(100% - 160px);
    vertical-align: top;
}

.block-header-dashbord .dashbord-footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
}

.block-header-dashbord .dashbord-icon {
    position: absolute;
    top: 0px;
    right: 10px;
}

    .block-header-dashbord .dashbord-icon i {
        font-size: 111px;
        color: rgba(0, 0, 0, 0.04);
    }

.dashboard-menu {
    margin-top: 10px;
}

    .dashboard-menu h1 {
        font-size: 13px;
        letter-spacing: 0.2px;
        margin: -1px 22px 0px 10px;
        padding: 0px 0px 2px;
        font-weight: bold;
    }

.block-header-dashbord-trg .dashbord-footer {
    padding: 10px;
}

    .block-header-dashbord-trg .dashbord-footer i {
        color: rgba(0,0,0,0.3);
        font-size: 21px;
    }

        .block-header-dashbord-trg .dashbord-footer i.active {
            color: #d2322d;
        }

.block-header-dashbord .block-pf h1, .block-header-dashbord .block-pf h4 {
    color: #fff;
}

.block-header-dashbord .block-pf h4 {
    margin-top: 46px;
}

.social-login a {
    border-radius: 100%;
    border-width: 0;
    height: 37px;
    line-height: 46px;
    margin: 6px 1px;
    padding: 0;
    width: 38px;
}

    .social-login a > .fa {
        font-size: 21px;
        margin: 0;
    }

.tabs h1 {
    border-bottom: 5px solid #CCC;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    line-height: 32px;
    position: relative;
}
/*     POPUP Ajouter Article Panier  */
.modal-success-panier h1, .modal-success-panier h4 {
    color: #454545;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.modal-success-panier .item-Aded {
    background-color: whitesmoke;
    border: 1px solid #dedede;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

    .modal-success-panier .item-Aded > div {
        display: inline-block;
        vertical-align: top;
    }

        .modal-success-panier .item-Aded > div:last-child {
            font-size: 18px;
            color: #000;
        }
/*     POPUP Ajouter Article Panier  */

/* Questionnaire*/
.panel-actions {
    position: absolute;
    right: 15px;
    top: 15px;
}

.panelQues {
    position: absolute;
    right: 15px;
    top: -5px;
}

.panel-featured .panel-heading {
    border-radius: 0;
}

.panel-heading {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #dadada;
    padding: 5px;
    position: relative;
}

.panel {
    margin-bottom: 20px;
}

.panel {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
}

.panel-featured {
    border-top: 3px solid #33353f;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


.choixQuestion {
    font-size: 15px;
    line-height: 1.8;
}

.panel-quiz-content {
    padding-left: 10px;
    margin-left: 20px;
}

.panel-quiz-footer {
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
    margin-left: 24px;
}

    .panel-quiz-footer ul {
        margin: 0;
        padding: 0;
    }

        .panel-quiz-footer ul li {
            list-style: none;
            padding: 10px;
            float: left;
        }

            .panel-quiz-footer ul li:nth-child(2) {
                border-left: 1px solid #e1e1e1;
                margin-top: 10px;
                padding-right: 0;
                padding-left: 5px;
            }

.ready .panel-quiz-content {
    border-left: 1px dashed #0088cc;
    margin-left: 25px;
    padding-left: 5px;
}

.panel-quiz-content .icheckbox_flat-blue {
    margin-right: 5px;
}

.boutonsModalRight {
    margin-top: 10px;
    padding-right: 30px !important;
}
/*End Questionnaire*/

a.btn-success[disabled] {
    color: #fff;
}

button[type=submit] i {
    display: none;
    font-size: 13px;
}

.anonymous.fa-user:before {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 24px;
    padding: 6px 0 7px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    width: 40px;
    cursor: pointer;
}

.anonymous-big.fa-user:before {
    width: 70px;
    padding: 10px 0 11px;
}

.anonymous.anonymous-header.fa-user:before {
    background-color: rgba(0, 0, 0, 0.2);
}

.block-dashboard {
    background-color: #fff;
    max-width: 350px;
    height: 242px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto;
    text-align: center;
}

    .block-dashboard .block-dashboard-footer {
        height: 45px;
        border-top: 1px solid #dcdcdc;
        background: #fafafa; /* Old browsers */
        background: -moz-linear-gradient(top, #fafafa 0%, #ebebeb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fafafa 0%,#ebebeb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fafafa 0%,#ebebeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }

        .block-dashboard .block-dashboard-footer a {
            font-weight: bold;
        }

    .block-dashboard .block-dashboard-header {
        height: 61px;
        padding: 14px 20px 6px;
    }

.block-dashboard-header i {
    color: #757575;
    font-size: 17px;
}

.block-dashboard-header a {
    color: #0088cc;
    font-size: 12px;
    font-weight: bold;
}

.block-dashboard-content img {
    border: 5px solid #ebebeb;
    display: initial;
    margin-bottom: 10px;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

    .easyPieChart canvas {
        left: 0;
        position: absolute;
        top: 0;
    }

.easyPieChart {
    margin: 0 auto;
}

#jquery-script-menu {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jquery-script-center {
    width: 960px;
    margin: 0 auto;
}

    .jquery-script-center ul {
        width: 212px;
        float: left;
        line-height: 45px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .jquery-script-center a {
        text-decoration: none;
    }

.jquery-script-ads {
    width: 728px;
    height: 90px;
    float: right;
}

.jquery-script-clear {
    clear: both;
    height: 0;
}

.btn-custom {
    background-color: #3a87ad;
    color: #fff;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    margin-top: 10px;
}

    .btn-custom:hover {
        color: white;
    }

.block-dashboard .fa-heart:hover, .block-dashboard .fa-heart.active {
    color: red;
}

.block-dashboard .path-favoris {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.icon-parrainage {
    background: #2381b1;
    background: -moz-linear-gradient(top, #2381b1 0%, #45a6d6 100%);
    background: -webkit-linear-gradient(top, #2381b1 0%,#45a6d6 100%);
    background: linear-gradient(to bottom, #2381b1 0%,#45a6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2381b1', endColorstr='#45a6d6',GradientType=0 );
    height: 100px;
    margin: 0 auto 5px;
    width: 100px;
    border-radius: 50%;
    border: 2px dashed #e1e1e1;
}

    .icon-parrainage i {
        color: rgba(255, 255, 255, 0.58);
        font-size: 68px;
        margin-top: 13px;
    }

.list-histo {
    width: 100%;
    background: #fafafa;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

    .list-histo ul {
        margin: 0;
        padding: 0;
    }

        .list-histo ul li {
            border: 1px dashed #e1e1e1;
            list-style: none;
            padding: 5px;
            margin-bottom: 25px;
        }

    .list-histo .prog-histo {
        width: 100%;
        background: rgb(234, 234, 234);
        height: 6px;
        margin-top: 5px;
    }

        .list-histo .prog-histo .fill-prog-histo {
            height: 100%;
            background: #ff6a00;
        }

    .list-histo .prog-nbr {
        color: #ff6a00;
        font-weight: bold;
    }

.apps-links {
    list-style: none;
    margin: 0 0 22px;
    padding: 0;
    display: inline-flexbox;
}

.form-profil .error {
    display: block;
}


/* Page produits + PRODUIT */

.list-prd {
    margin: 0 auto;
    max-width: 950px;
}

    .list-prd ul {
        margin-top: 20px;
        padding: 0;
    }

        .list-prd ul li {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #f4f4f4;
            box-shadow: 3px 4px 10px -3px rgba(0, 0, 0, 0.25);
            display: inline-block;
            list-style: outside none none;
            margin: 13px;
            position: relative;
            text-align: center;
            /*width: 290px;*/
        }

            .list-prd ul li a {
                color: #353535;
            }

            .list-prd ul li span:first-child {
                display: block;
                height: 165px;
                text-align: center;
            }

    .list-prd .line hr {
        border-color: #208ac8;
        border-style: solid;
        border-width: 1px 0 0;
        margin: 0 15px;
    }

    .list-prd .line span {
        background: #fff none repeat scroll 0 0;
        color: #208ac8;
        font-weight: bold;
        left: 50%;
        padding: 0 13px;
        position: absolute;
        top: -9px;
    }

    .list-prd ul li span:nth-child(2) {
        background: #f5f5f5 none repeat scroll 0 0;
        box-sizing: border-box;
        display: block;
        padding: 10px;
    }

    .list-prd .line {
        position: relative;
        width: 100%;
    }

.titre-block {
    color: #208ac8;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}

.menu-alphabetique {
    margin-bottom: 40px;
    text-align: center;
}

    .menu-alphabetique a {
        color: #878787;
        cursor: pointer;
        padding: 10px;
    }

.list-prd ul li a img {
    width: 50%;
}

img {
    border: 0 none;
    vertical-align: middle;
}

.list-prd .goToTop {
    padding: 2px 15px 30px 57px;
}

.goToTop {
    color: #989898;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}

    .goToTop i {
        color: #208ac8;
        padding-left: 7px;
    }

.author-holder {
    padding: 0 1px 10px;
}

.maxWidth-prd {
    max-width: 908px;
    text-align: center;
}

.holder {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.author-block.alt {
    border: medium none;
    padding: 0;
}

.author-block {
    box-shadow: 0 0 0 -1px #fff inset;
}

.cadre-img {
    border: 1px solid #f4f4f4;
    box-shadow: 3px 4px 10px -3px rgba(0, 0, 0, 0.25);
    width: 290px;
}

    .cadre-img img {
        width: 100%;
    }

.block-desc-prd .description-prd {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    font-size: 15px;
    line-height: 1.7;
    max-width: 583px;
    text-align: left;
}

.block-desc-prd .description-prd {
    padding-left: 38px;
}

    .block-desc-prd .description-prd .title-prd {
        font-size: 26px;
        font-weight: bold;
        line-height: 1;
        padding-bottom: 30px;
    }

block-nbr-prd {
    background: #f4f4f4 none repeat scroll 0 0;
    border-top: medium none #e6e6e6;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    z-index: 40;
}

.block-nbr-prd .holder {
    box-sizing: border-box;
    height: 100%;
    padding: 20px 5px;
}

    .block-nbr-prd .holder div {
        background: #fff none repeat scroll 0 0;
        box-shadow: 3px 6px 17px -3px rgba(0, 0, 0, 0.15);
        color: #208ac8;
        display: inline-block;
        font-size: 16px;
        margin: 1%;
        min-width: 150px;
        padding-bottom: 15px;
        padding-top: 15px;
        width: 20%;
    }

.cursor {
    cursor: pointer;
}

.block-nbr-prd {
    text-align: center;
}

.frame-box, .service-box, .content-holder.bg {
    padding: 20px 0 16px;
    position: relative;
}
#trainings.cssCategory {
        background: #f4f4f4 none repeat scroll 0 0;
        border-top: medium none #e6e6e6;
        box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        margin: 0;
        
        width: 100%;
        z-index: 40;
    }
#trainings.cssCategorie {
        
        border-top: medium none #e6e6e6;
        box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        margin: 0;
        
        width: 100%;
        z-index: 40;
    }
.head {
    color: #333333;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.block-nbr-prd .holder div.active {
    border-bottom: 3px solid #208ac8;
    box-shadow: 3px 6px 17px -3px rgba(0, 0, 0, 0);
    color: #000;
}

.block-nbr-prd {
    background: #f4f4f4 none repeat scroll 0 0;
    border-top: medium none #e6e6e6;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    z-index: 40;
}

.cadre-prd {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f4f4f4;
    box-shadow: 3px 4px 10px -3px rgba(0, 0, 0, 0.25);
    display: inline-block;
    height: 102px;
    margin: 5px 5px 25px;
    width: 288px;
}

    .cadre-prd span:first-child {
        display: inline-block;
        width: 100px;
    }

    .cadre-prd span img {
        background: #f2f2f2 none repeat scroll 0 0;
        height: 100px;
        vertical-align: unset !important;
        width: 100%;
    }

    .cadre-prd span.detail {
        box-sizing: border-box;
        color: #000;
        display: inline-block;
        padding: 20px;
        vertical-align: top;
        width: 180px;
    }


    .displayed{
        display:none !important;
    }

    .numberCircle {
    border-radius: 50%;
    width: 55px;
    font-size: 32px;
    border: 2px solid #0088cc;
    background: #0088cc;
}
.numberCircle span {
    text-align: center;
    line-height: 50px;
    display: block;
    color: white;
}

@media (min-width: 768px) {
    .newtable {
        opacity: 0 !important;
    }

    .hovered {
        margin-top: 0px !important;
    }
   
}

@media (min-device-width:768px) and (max-device-width:1024px){   
    .productR {
        height: 125px !important;
    }
}

@media (max-width: 768px) {
    .noResponsiveDuration{
        display:none;
    }
    .modifstyle {
        margin: 20px 0 15px !important;
    }

    .modifp {
        bottom: -1px !important;

    }
    .bordered{
        border-left: 5px solid #eee !important;
    }
    .prom{
        width: 55px !important;

    }
    .pricr{
        margin-right: 20px;
    }
}
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        opacity:1 !important;
    }



/* END PRODUITS + PRODUIT*/
    @media only screen and (max-width: 479px) {
        .Prop{
            
            margin-left:0 !important;
        }
        .product-price-box .pric {
            margin-top:-20px !important;
            margin-left:-10px !important;

        }
         .product-price-box .pric1 {
            margin-left:-30px !important;
             margin-top:2px !important;

        }
  
    }