.header-training-bg {
    padding: 5px;
    background: rgba(255, 255, 255, 0.60) none repeat scroll 0 0;
    border-radius: 4px;
    max-width: 350px;
    max-height: 250px;
    margin: 0 auto;
}

    .header-training-bg .layer {
        position: absolute;
        background: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        top: 0px;
        opacity: 0.4;
    }

    .header-training-bg .header-training-bg-reprise-url {
        color: rgb(255, 255, 255);
        z-index: 1;
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

        .header-training-bg .header-training-bg-reprise-url span:first-child {
            display: block;
        }

    .header-training-bg:hover .header-training-bg-reprise-url span:first-child {
        display: none;
    }

    .header-training-bg .header-training-bg-reprise-url span:last-child {
        display: none;
    }

    .header-training-bg:hover .header-training-bg-reprise-url span:last-child {
        display: block;
    }

    .header-training-bg:hover .layer {
        opacity: 0.7;
    }

.plan-menu {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #e5e5e5;
}

    .plan-menu > li {
        list-style: none;
        font-size: 13px;
    }

        .plan-menu > li > a {
            font-size: 13px;
            position: relative;
            color: #585858;
            display: block;
            padding: 10px;
            border-bottom: 1px solid #e5e5e5;
            z-index: 2;
        }

        .plan-menu > li.open > a, .plan-menu > li.open > a:hover {
            background-color: #fafafa;
            color: #1963aa;
            border-left: 0;
            padding-left: 10px;
        }

        .plan-menu > li > a:hover {
            background-color: #fff;
            color: #266cad;
            border-left: 3px solid #266cad;
            cursor: pointer;
            text-decoration: none;
            padding-left: 7px;
        }

        .plan-menu > li > a > i {
            width: 20px;
        }

        .plan-menu > li > a > span {
            font-size: 14px;
        }

        .plan-menu > li > a > div {
            position: absolute;
            right: 10px;
            font-size: 15px;
            top: 10px;
        }

            .plan-menu > li > a > div span {
                font-size: 13px;
                margin-right: 20px;
            }

            .plan-menu > li > a > div i {
                font-size: 17px;
            }

        .plan-menu > li ul {
            display: none;
        }

        .plan-menu > li.open ul {
            background: #fff;
            margin: 0;
            padding: 0;
            display: block;
        }

            .plan-menu > li.open ul li:last-child {
                border-bottom: 1px solid #e5e5e5;
            }

            .plan-menu > li.open ul li:first-child {
                border-bottom: 0;
            }

        .plan-menu > li.open {
            position: relative;
        }

            .plan-menu > li.open ul::before {
                content: "";
                border-left: 3px dotted #9dbdd6;
                position: absolute;
                display: block;
                left: 40px;
                top: 0;
                bottom: 0;
                z-index: 1;
            }

    .plan-menu ul::before, .plan-menu li {
        content: "";
    }

    .plan-menu > li.open ul > li {
        list-style: none;
    }

    .plan-menu > li.open ul > li {
        border-top: 1px dotted #e4e4e4;
        color: #616161;
        display: block;
        padding: 6px 55px;
        position: relative;
    }

    .plan-menu > li.active {
        border-right: 4px solid #2b7dbc;
    }

    .plan-menu > li.open ul > li.active:before {
        border-right: 9px solid #2b7dbc;
        border-style: solid;
        border-width: 15px 9px;
        color: transparent;
        content: "";
        right: 0;
        position: absolute;
        top: 2px;
    }

    .plan-menu > li.open ul > li:hover, .plan-menu > li.open ul > li.active {
        text-decoration: none;
        background-color: #f1f5f9;
        color: #4b88b7;
        cursor: pointer;
    }

    .plan-menu > li.open ul > li > i, .plan-menu > li.open ul > li > span:last-child {
        position: absolute;
        top: 10px;
        z-index: 2;
    }

        .plan-menu > li.open ul > li > i.fa-caret-right {
            color: #1963aa;
            left: 40px;
            display: none;
            padding: 1px 0;
        }

    .plan-menu > li.open ul > li:hover > i.fa-caret-right {
        background: #f1f5f9;
        color: #1963aa;
        display: block;
    }

    .plan-menu > li.open ul > li > i.fa-play-circle {
        color: #4b88b7;
        left: 15px;
    }

    .plan-menu > li.open ul > li > i.fa-check {
        color: green;
        left: 15px;
    }

    .plan-menu > li.open ul > li > i.fa-lock {
        color: #999;
        left: 15px;
    }

    .plan-menu > li.open ul > li > span:last-child {
        right: 13px;
        font-size: 11px;
    }

    .plan-menu > li.open ul > li > span.title-video {
        width: calc(100% - 33px);
        display: block;
    }

.tabs:hover {
    color: #266cad;
    cursor: pointer;
}

.tabs {
    font-size: 13px;
    color: #585858;
}

.header-training-bg .icon-player {
    height: 50%;
    position: absolute;
    padding-top: 27px;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 18%;
}

    .header-training-bg .icon-player i {
        color: rgb(255, 255, 255);
        font-size: 54px;
    }

.header-training-bg img {
    width: 100%;
    max-height: 220px;
}

.header-training-bg .txt-header-tuto {
    color: rgb(255, 255, 255);
    z-index: 1;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.header-training .progress-header-trg > div {
    width: 100%;
    margin-top: 0;
    display: inline-block;
    /*background: rgba(0, 0, 0, 0.35);*/
    height: 10px;
    border-radius: 4px;
}

    .header-training .progress-header-trg > div > div {
        background-color: #17aa1c;
        height: 10px;
        border-radius: 4px;
        display: inline-block;
        position: relative;
        margin: 0px;
    }


.header-training {
    padding: 28px 0 16px;
    margin-top: 0px !important;
}

.header-training-bg > div {
    position: relative;
    cursor: pointer;
}

.path-favoris-trg.active, path-favoris-trg.active:focus, .path-favoris-trg:hover {
    color: red !important;
    text-decoration: none !important;
}

.path-favoris-trg, path-favoris-trg:focus {
    color: rgba(255,255,255,0.5);
    text-decoration: none !important;
}

/*Page Formation presentiel*/
.FormationEntete .box-session {
    display: table;
    height: 31px;
    color: #fff;
    margin-top: 10px;
}

.FormationEntete .box-session-left {
    display: table-cell;
    padding: 5px 5px 5px 15px;
    width: 110px;
}

.FormationEntete .box-session-middle {
    display: table-cell;
    width: 18px;
}

.FormationEntete .box-session-right {
    display: table-cell;
    padding: 5px 5px 5px 15px;
    width: 130px;
}

.FormationEntete h5 {
    margin-top: 19px;
    font-weight: normal;
}

.session-date {
    display: table;
    margin-top: 10px;
    color: #fff;
    margin: 10px auto 0;
}

    .session-date > div:nth-child(2) {
        display: table-cell;
        width: 48px;
        color: #313131;
        vertical-align: middle;
        font-family: "Open Sans Condensed",sans-serif;
        font-size: 20px;
    }

    .session-date > div:first-child, .session-date > div:nth-child(3) {
        display: table-cell;
        background: rgba(0,0,0,0.8);
        width: 120px;
        padding: 10px;
    }

    .session-date a {
        color: #fff;
        text-decoration: none;
    }

    .session-date > div:last-child {
        margin-left: 10px;
    }

.right-block-info-trg {
    width: 100%;
}


@media(min-width: 350px) {
    .gradution {
        color: #17aa1c !important;
        margin-right: -23px !important;
        float: right !important;
        bottom: 2px !important;
    }
}

@media(max-width: 992px) {
    .gradution {
        color: #17aa1c !important;
        margin-top: 20px;
    }
}
