.Zebra_Tooltip {
    position: absolute;
    z-index: 8000;
    background: transparent;
}

.Zebra_Tooltip .Zebra_Tooltip_Message {
    position: relative;
    height:200px !important;
    max-height:200px !important;
    padding: 15px;
    font-size: 12px;
    text-align: left;
    max-width: 300px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    *margin-right: 0;
     margin-left: 10px;
     overflow-y: scroll;
    _width: expression(document.body.clientWidth > 250 ? '250px': 'auto');
    /* max-width for IE6 */
}

    .Zebra_Tooltip .Zebra_Tooltip_Arrow {
        position: absolute;
        width: 20px;
        height: 10px;
        overflow: hidden;
       
    }
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Bottom {
    bottom: 0;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Bottom div {
    top: 0;
    _border-bottom-color:  #ed9c28;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Top {
    top: 0;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Top div {
    bottom: 0;
    _border-top-color:  #ed9c28;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow div {
    position: absolute;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    left: 0;
    _border-left-color:  #ed9c28;
    _border-right-color:  #ed9c28;
    _filter: chroma(color= #ed9c28);
}

.Zebra_Tooltip .Zebra_Tooltip_Close {
    text-decoration: none;
    color: #FFF;
    position: absolute;
    right: 4px;
    top: 3px;
    font-weight: bold;
    padding: 0 4px;
}

.Zebra_Tooltip .Zebra_Tooltip_Close:hover {
    color: #000;
    background: #FFF;
    border-radius: 15px;
}
